@use "../../variables.scss" as vars;

.titulo {
  font-family: vars.$fonte1;
  font-weight: 400;
  font-size: 37px;
  color: vars.$corPrimaria;
  text-align: center;
}
.subTitulo{
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  font-family: vars.$fonte2;
  color: vars.$corSecundaria;
}

@media (max-width: 890px){
  .titulo{
    font-size: 1.3em;
    white-space: nowrap;
  }
  .subTitulo{
    display: none;
  }
}