@use "../../variables.scss" as vars;

.link {
  padding: 7px 25px;
  border-radius: 40px;
  background-color: vars.$corFundo2;
  color: white;
  white-space: nowrap;
  text-decoration: none;
}

.link img {
  width: 30px;
  margin-left: 15px;
}

.link_invertido {
  padding: 7px 25px;
  border-radius: 40px;
  background-color: white;
  color: vars.$corFundo2;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.link_invertido img {
  width: 30px;
  margin-left: 15px;
}

