.form_container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 445px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.466);
}

.form_container h2 {
  font-size: 1.8rem;
  color: #b4a79d;
  margin-bottom: 20px;
  text-align: justify;
  width: 100%;
  font-weight: 700px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  color: #8f695d;
}

form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #c8b3a2;
  border-radius: 5px;
}

.contact_options {
  margin-bottom: 15px;
}

form button {
  background-color: #daa784;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #b8865b;
}
