.main {
  background-image: url(./plano_de_fundo.png) !important;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.titulo {
  text-align: center;
  color: #daa784;
}

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.donos {
  width: auto;
  min-width: 300px;
}
