@import "../../variables.scss";

.titulo {
  color: $corPrimaria;
}

.main {
  background-image: url(./plano_de_fundo.png) !important;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.titulo {
  font-family: $fonte1;
  letter-spacing: 0.01em;
  font-size: 41px;
  font-weight: bold;
  text-align: center;
  color: $corPrimaria;
  width: 100%;
}

.titulo h2 {
  color: $corSecundaria;
  width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 20px;
  padding-right: 350px;
  font-family: $fonte2;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.donos {
  width: auto;
  padding-bottom: 70px;
  overflow: hidden;
}

@media (max-width: 890px) {
  .titulo h2 {
    text-align: center;
    padding: 0px;
  }
  .container {
    gap: 5px;
  }
  .donos {
    padding-bottom: 0px;
    width: 450px;
  }
}
