.link_alternativo{
  padding: 7px 25px;
  border-radius: 40px;
  background-color: #daa784;
  color: white;
  white-space: nowrap;
  text-decoration: none;
}

.alternativo img {
  width: 30px;
  margin-left: 15px;
}