@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$corPrimaria: #DAA784;
$corSecundaria: #9A8488;
$corTerciaria: #ab8580;

$corFundo1: #89786d;
$corFundo2: #b4a79d;

$fonte1: "Fahkwang", sans-serif;

$fonte2: "Work Sans",sans-serif
